audio utilizado- Do you know where you in Brazil? Of course I do. I love you. Well, I don't know real yet. 

sentencas 

analise do texto de acordo com emocoes e opinioes 
texto utilizado para analise - I bought a size S and it fit perfectly. I found the zipper a little bit difficult to get up & down due to the side rushing. The color and material are beautiful in person. Amazingly comfortable!

Sentence 1 
Sentence sentiment
Positive
Confidence: 95.00%
95.00%
POSITIVE
4.00%
NEUTRAL
1.00%
NEGATIVE

Sentence 2
Sentence sentiment
Negative
Confidence: 0.00%
0.00%
POSITIVE
0.00%
NEUTRAL
99.00%
NEGATIVE
Opinion
Target: zipper
Assessments:
difficult (negative, 100.00%)

Sentence 3
Sentence sentiment
Positive
Confidence: 99.00%
99.00%
POSITIVE
0.00%
NEUTRAL
0.00%
NEGATIVE
Opinion
Target: color
Assessments:
beautiful (positive, 100.00%)
Opinion
Target: material
Assessments:
beautiful (positive, 100.00%)